.itemlista{
    margin-top: 20px;
  }
  body{
    background-color: #000000;
    font-family: sans-serif;
    color: white;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }
  .listajuntas{
    margin-top: 20px;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    background-color: #000000;
    border-radius: 60px;
    border-color: white;
    border-style:groove
  }
  h1{
    margin: auto;
    padding: 10px;
    text-align: center;
  }

/*@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); */

.pesquisa{
    background-color: transparent;
    width: 50%;
    height: 30px;
    margin-bottom: 10px;
    padding-left: 20px;
    font-size: 15px;
    outline: none;
    color: #ffffff;
    border: #ffffff 4px solid;
    box-shadow: 5px 5px #000000;
}

.lista__item{
    margin: 10px 0 10px 0;
    font-size: 20px;
    text-shadow: 5px 5px #000000;
}

.ativar{
    opacity: 1;
}

.desativado{
    opacity: 0;
}


